$dark_gray: rgb(20, 20, 20);
$dark_gray_hover: rgb(30, 30, 30);
$medium_dark_gray: rgb(50, 50, 50);
$medium_gray: rgb(100, 100, 100);
$medium_gray_hover: rgb(150, 150, 150);
$light_gray: rgb(170, 170, 170);
$off_white: rgb(220, 220, 220);
$white: rgb(240, 240, 240);
$red: rgb(200, 0, 0);
$green: rgb(0, 150, 0);

.main_menu_containet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 5%;
    .nav_item {
        &.hebrew {
            direction: rtl;
            > h4 {
                > i {
                    margin-right: 0;
                    margin-left: 1vh;
                }
            }
        }
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
        > h4 {
            color: $medium_gray;
            font-weight: 400;
            font-size: 1.8vh;
            transition: color 0.2s;
            cursor: pointer;
            &.selected {
                color: $off_white;
            }
            &:hover {
                color: $off_white;
            }
            > i {
                margin-right: 1vh;
            }
            &.language {
                font-size: 1.4vh;
                color: $light_gray;
                margin-top: 0.5vh;
                margin-bottom: 0.5vh;
                &.selected {
                    color: $medium_gray;
                    &:hover {
                        cursor: default,
                    }
                }
            }
        }
    }
}