$dark_gray: rgb(20, 20, 20);
$dark_gray_hover: rgb(30, 30, 30);
$medium_dark_gray: rgb(50, 50, 50);
$medium_gray: rgb(100, 100, 100);
$medium_gray_hover: rgb(150, 150, 150);
$light_gray: rgb(170, 170, 170);
$off_white: rgb(220, 220, 220);
$white: rgb(240, 240, 240);
$red: rgb(200, 0, 0);
$green: rgb(0, 150, 0);

.mission_container {
    margin-top: 10vh;
    min-height: fit-content;
    background-color: $dark_gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    > .Skeleton_container {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > img {
            width: 80vw;
        }
        > .button_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 80vh;
            &:active {
                > h3, i {
                    color: $light_gray;
                }
            }
            > h3 {
                font-size: 6vw;
                font-weight: 300;
                color: $medium_gray;
                transition: color 0.1s;
            }
            > i {
                font-size: 6vw;
                color: $medium_gray;
                transition: color 0.1s;
            }
        }
    }
}

