$dark_gray: rgb(20, 20, 20);
$dark_gray_hover: rgb(30, 30, 30);
$medium_dark_gray: rgb(50, 50, 50);
$medium_gray: rgb(100, 100, 100);
$medium_gray_hover: rgb(150, 150, 150);
$light_gray: rgb(170, 170, 170);
$off_white: rgb(220, 220, 220);
$white: rgb(240, 240, 240);
$red: rgb(200, 0, 0);
$green: rgb(0, 150, 0);

.trucks_item_container {
    > .image_container {
        width: 100%;
        height: 26vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        > img {
            object-fit: cover;
            width: 100%;
        }
    }
    > .selection_container {
        width: 100%;
        height: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        > h3 {
            font-size: 7vw;
            font-weight: 400;
            width: 100%;
            color: $medium_gray;
            border-bottom: 2px solid $medium_gray;
        }
        > h4.price {
            font-size: 4vw;
            font-weight: 400;
            color: $medium_gray;
            margin-top: 0.5vh;
            margin-right: auto;
            &.hebrew {
                margin-right: 0;
                margin-left: auto;
            }
            &.out_of_stock {
                color: $red;
            }
        }
        > .options_container {
            width: 100%;
            height: fit-content;
        }
        > button {
            width: 30vw;
            height: 6vh;
            background-color: $dark_gray;
            border: none;
            margin-top: 5vw;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto;
            font-size: 4vw;
            color: $white;
            display: none;
            &.active {
                color: $white;
                background-color: $dark_gray;
                display: block;
            }
            &:focus {
                outline: none;
            }
            &:active {
                background-color: $medium_gray;
            }
        }
        > p {
            margin-top: 2vh;
            color: $light_gray;
            font-size: 4vw;
            font-weight: 300;
        }
    }
}