$dark_gray: rgb(20, 20, 20);
$dark_gray_hover: rgb(30, 30, 30);
$medium_dark_gray: rgb(50, 50, 50);
$medium_gray: rgb(100, 100, 100);
$medium_gray_hover: rgb(150, 150, 150);
$light_gray: rgb(170, 170, 170);
$off_white: rgb(220, 220, 220);
$white: rgb(240, 240, 240);
$red: rgb(200, 0, 0);
$green: rgb(0, 150, 0);

.desktop_checkout_button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    > button {
        width: 80%;
        height: 5vh;
        border: none;
        background-color: $light_gray;
        color: $off_white;
        border-radius: 2.5vh;
        font-size: 2vh;
        font-weight: 300;
        transition: 0.2s;
        &:focus {
            outline: none;
        }
        &.active {
            background-color: $dark_gray;
            font-weight: 300;
            color: $white;
            &:hover {
                cursor: pointer;
                background-color: $medium_gray;
            }
            &:active {
                background-color: $medium_dark_gray;
            }
        }
    }
}