$dark_gray: rgb(20, 20, 20);
$dark_gray_hover: rgb(30, 30, 30);
$medium_dark_gray: rgb(50, 50, 50);
$medium_gray: rgb(100, 100, 100);
$medium_gray_hover: rgb(150, 150, 150);
$light_gray: rgb(170, 170, 170);
$off_white: rgb(220, 220, 220);
$white: rgb(240, 240, 240);
$red: rgb(200, 0, 0);
$green: rgb(0, 150, 0);

.mobile_language_button_container {
    width: 25vw;
    height: 10vh;
    // background-color: red;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.hide {
        display: none;
    }
    > h3 {
        color: $light_gray;
        font-weight: 400;
        font-size: 4vw;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        > span {
            transition: color 0.2s;
            &.selected {
            color: $medium_gray;
            }
        }
    }
}