$dark_gray: rgb(20, 20, 20);
$dark_gray_hover: rgb(30, 30, 30);
$medium_dark_gray: rgb(50, 50, 50);
$medium_gray: rgb(100, 100, 100);
$medium_gray_hover: rgb(150, 150, 150);
$light_gray: rgb(170, 170, 170);
$off_white: rgb(220, 220, 220);
$white: rgb(240, 240, 240);
$red: rgb(200, 0, 0);
$green: rgb(0, 150, 0);

.mobile_currency_dropdown_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    opacity: 1;
    transition: opacity 0.2s;
    &.hide { 
        opacity: 0;
    }
    > .mobile_selected_currency_container {
        &:focus {
            outline: none;
        }
        display: flex;
        align-items: center;
        > h3 {
            color: $off_white;
            font-size: 4.5vw;
            font-weight: 400;
            > i {
                margin-left: 2vw;
            }
        }
    }
}