$dark_gray: rgb(20, 20, 20);
$dark_gray_hover: rgb(30, 30, 30);
$medium_dark_gray: rgb(50, 50, 50);
$medium_gray: rgb(100, 100, 100);
$medium_gray_hover: rgb(150, 150, 150);
$light_gray: rgb(170, 170, 170);
$off_white: rgb(220, 220, 220);
$white: rgb(240, 240, 240);
$red: rgb(200, 0, 0);
$green: rgb(0, 150, 0);

.bad_message_container {
    margin-top: 10vh;
    width: 100vw;
    height: 84vh;
    background-color: $off_white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > h3 {
        color: $medium_dark_gray;
        font-size: 6vw;
        font-weight: 400;
        > i {
            font-size: 20vw;
        }
        &.try_again {
            font-weight: 500;
            color: $dark_gray;
            margin-top: 5vh;
        }
    }
}