$dark_gray: rgb(20, 20, 20);
$dark_gray_hover: rgb(30, 30, 30);
$medium_dark_gray: rgb(50, 50, 50);
$medium_gray: rgb(100, 100, 100);
$medium_gray_hover: rgb(150, 150, 150);
$light_gray: rgb(170, 170, 170);
$off_white: rgb(220, 220, 220);
$white: rgb(240, 240, 240);
$red: rgb(200, 0, 0);
$green: rgb(0, 150, 0);

.text_form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    > .left_container {
        width: 20vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        > .email_container, .name_container {
                width: 100%;
                display: flex;  
                flex-direction: row;
                justify-content: flex-start;
                overflow: hidden;
                margin-top: 2vh;
                > h4 {
                    color: $medium_gray;
                    font-size: 1.7vh;
                    font-weight: 500;
                    transition: color 0.2s;
                }
                > .email_input, .name_input {
                    border: none;
                    background-color: transparent;
                    max-width: 90%;
                    color: $dark_gray;
                    font-size: 1.7vh;
                    font-weight: 400;
                    overflow: hidden;
                    text-indent: 5px;
                    &:focus {
                        background-color: transparent;
                    }
                    &::placeholder {
                        color: $light_gray;
                        transition: 0.2s;
                    }
                    &.notification::placeholder {
                        color: $red;
                    }
                    &.anonymous::placeholder {
                        color: $off_white;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            > .checkbox_container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-top: 2vh;
                > .checkbox {
                    width: 1.8vh;
                    height: 1.8vh;
                    background-color: $off_white;
                    border-radius: 0.3vh;
                    border: 0.3vh solid $medium_gray;
                    margin-right: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s;
                    &:hover {
                        cursor: pointer;
                    }
                    &.notification {
                        background-color: $white;
                        border-color: $red;
                    }
                    > i {
                        font-size: 0.9vh;
                        color: $dark_gray;
                    }
                }
                > p {
                    color: $medium_gray;
                    font-size: 1.7vh;
                    font-weight: 400;
                    transition: color 0.2s;
                    width: 90%;
                }
            }
        > .submit_button {
            background-color: $dark_gray;
            border: none;
            font-size: 1.8vh;
            padding: 1.3vh 3vw 1.3vh 3vw;
            color: $off_white;
            border-radius: 3px;
            margin-left: auto;
            position: absolute;
            transform: translateY(6vh);
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: $dark_gray_hover;
                cursor: pointer;
            }
        }
    }
    > .right_container {
        width: 39vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        > textarea {
            width: 39vw;
            height: 100%;
            border: none;
            background-color: $off_white;
            border-radius: 3px;
            resize: none;
            color: $medium_gray;
            font-size: 1.8vh;
            padding: 15px 20px 15px 20px;
            &.notification::placeholder {
                color: $red;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

@media (max-aspect-ratio: 16 / 9) {
    .text_form {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        > .left_container {
            width: 25vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            > .email_container, .name_container {
                    width: 100%;
                    display: flex;  
                    flex-direction: row;
                    justify-content: flex-start;
                    overflow: hidden;
                    margin-top: 2vh;
                    > h4 {
                        color: $medium_gray;
                        font-size: 1.7vh;
                        font-weight: 500;
                        transition: color 0.2s;
                    }
                    > .email_input, .name_input {
                        border: none;
                        background-color: transparent;
                        max-width: 90%;
                        color: $dark_gray;
                        font-size: 1.7vh;
                        font-weight: 400;
                        overflow: hidden;
                        text-indent: 5px;
                        &:focus {
                            background-color: transparent;
                        }
                        &::placeholder {
                            color: $light_gray;
                            transition: 0.2s;
                        }
                        &.notification::placeholder {
                            color: $red;
                        }
                        &.anonymous::placeholder {
                            color: $off_white;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
                > .checkbox_container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-top: 2vh;
                    > .checkbox {
                        width: 1.8vh;
                        height: 1.8vh;
                        background-color: $off_white;
                        border-radius: 0.3vh;
                        border: 0.3vh solid $medium_gray;
                        margin-right: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.2s;
                        &:hover {
                            cursor: pointer;
                        }
                        &.notification {
                            background-color: $white;
                            border-color: $red;
                        }
                        > i {
                            font-size: 0.9vh;
                            color: $dark_gray;
                        }
                    }
                    > p {
                        color: $medium_gray;
                        font-size: 1.7vh;
                        font-weight: 400;
                        transition: color 0.2s;
                        width: 90%;
                    }
                }
            > .submit_button {
                background-color: $dark_gray;
                border: none;
                font-size: 1.8vh;
                padding: 1.3vh 3vw 1.3vh 3vw;
                color: $off_white;
                border-radius: 3px;
                margin-left: auto;
                position: absolute;
                transform: translateY(6vh);
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: $dark_gray_hover;
                    cursor: pointer;
                }
            }
        }
        > .right_container {
            width: 44vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            > textarea {
                width: 44vw;
                height: 100%;
                border: none;
                background-color: $off_white;
                border-radius: 3px;
                resize: none;
                color: $medium_gray;
                font-size: 1.8vh;
                padding: 15px 20px 15px 20px;
                &.notification::placeholder {
                    color: $red;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media (max-aspect-ratio: 4 / 3) {
    .text_form {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        > .left_container {
            width: 30vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            > .email_container, .name_container {
                    width: 100%;
                    display: flex;  
                    flex-direction: row;
                    justify-content: flex-start;
                    overflow: hidden;
                    margin-top: 2vh;
                    > h4 {
                        color: $medium_gray;
                        font-size: 1.7vh;
                        font-weight: 500;
                        transition: color 0.2s;
                    }
                    > .email_input, .name_input {
                        border: none;
                        background-color: transparent;
                        max-width: 90%;
                        color: $dark_gray;
                        font-size: 1.7vh;
                        font-weight: 400;
                        overflow: hidden;
                        text-indent: 5px;
                        &:focus {
                            background-color: transparent;
                        }
                        &::placeholder {
                            color: $light_gray;
                            transition: 0.2s;
                        }
                        &.notification::placeholder {
                            color: $red;
                        }
                        &.anonymous::placeholder {
                            color: $off_white;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
                > .checkbox_container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-top: 2vh;
                    > .checkbox {
                        width: 1.8vh;
                        height: 1.8vh;
                        background-color: $off_white;
                        border-radius: 0.3vh;
                        border: 0.3vh solid $medium_gray;
                        margin-right: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.2s;
                        &:hover {
                            cursor: pointer;
                        }
                        &.notification {
                            background-color: $white;
                            border-color: $red;
                        }
                        > i {
                            font-size: 0.9vh;
                            color: $dark_gray;
                        }
                    }
                    > p {
                        color: $medium_gray;
                        font-size: 1.7vh;
                        font-weight: 400;
                        transition: color 0.2s;
                        width: 90%;
                    }
                }
            > .submit_button {
                background-color: $dark_gray;
                border: none;
                font-size: 1.8vh;
                padding: 1.3vh 3vw 1.3vh 3vw;
                color: $off_white;
                border-radius: 3px;
                margin-left: auto;
                position: absolute;
                transform: translateY(6vh);
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: $dark_gray_hover;
                    cursor: pointer;
                }
            }
        }
        > .right_container {
            width: 49vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            > textarea {
                width: 49vw;
                height: 100%;
                border: none;
                background-color: $off_white;
                border-radius: 3px;
                resize: none;
                color: $medium_gray;
                font-size: 1.8vh;
                padding: 15px 20px 15px 20px;
                &.notification::placeholder {
                    color: $red;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media (max-aspect-ratio: 1 / 1) {
    .text_form {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        > .left_container {
            width: 35vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            > .email_container, .name_container {
                    width: 100%;
                    display: flex;  
                    flex-direction: row;
                    justify-content: flex-start;
                    overflow: hidden;
                    margin-top: 2vh;
                    > h4 {
                        color: $medium_gray;
                        font-size: 1.7vh;
                        font-weight: 500;
                        transition: color 0.2s;
                    }
                    > .email_input, .name_input {
                        border: none;
                        background-color: transparent;
                        max-width: 90%;
                        color: $dark_gray;
                        font-size: 1.7vh;
                        font-weight: 400;
                        overflow: hidden;
                        text-indent: 5px;
                        &:focus {
                            background-color: transparent;
                        }
                        &::placeholder {
                            color: $light_gray;
                            transition: 0.2s;
                        }
                        &.notification::placeholder {
                            color: $red;
                        }
                        &.anonymous::placeholder {
                            color: $off_white;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
                > .checkbox_container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-top: 2vh;
                    > .checkbox {
                        width: 1.8vh;
                        height: 1.8vh;
                        background-color: $off_white;
                        border-radius: 0.3vh;
                        border: 0.3vh solid $medium_gray;
                        margin-right: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.2s;
                        &:hover {
                            cursor: pointer;
                        }
                        &.notification {
                            background-color: $white;
                            border-color: $red;
                        }
                        > i {
                            font-size: 0.9vh;
                            color: $dark_gray;
                        }
                    }
                    > p {
                        color: $medium_gray;
                        font-size: 1.7vh;
                        font-weight: 400;
                        transition: color 0.2s;
                        width: 90%;
                    }
                }
            > .submit_button {
                background-color: $dark_gray;
                border: none;
                font-size: 1.8vh;
                padding: 1.3vh 3vw 1.3vh 3vw;
                color: $off_white;
                border-radius: 3px;
                margin-left: auto;
                position: absolute;
                transform: translateY(6vh);
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: $dark_gray_hover;
                    cursor: pointer;
                }
            }
        }
        > .right_container {
            width: 54vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            > textarea {
                width: 54vw;
                height: 100%;
                border: none;
                background-color: $off_white;
                border-radius: 3px;
                resize: none;
                color: $medium_gray;
                font-size: 1.8vh;
                padding: 15px 20px 15px 20px;
                &.notification::placeholder {
                    color: $red;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}